<!doctype html>
<html class="h-full" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>EC Lobby: {{ slug_1 }}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
    <link href="/public/css/game.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <meta name="description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/site.webmanifest">
    <link rel="canonical" href="https://chickens.rakerman.com/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta property="og:site_name" content="Exploding Chickens" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Join game lobby: {{ slug_3 }}" />
    <meta property="og:description" content="A beautiful, online alternative to the popular Exploding Kittens card game (just with chickens)" />
    <meta property="og:url" content="https://chickens.rakerman.com/" />
    <meta property="og:image" content="https://chickens.rakerman.com/public/home_ui.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="440" />
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
</head>
<!-- Exploding Chickens, lobby page // RAk3rman -->
<body class='flex flex-col h-full anim-scene' x-data="{ sidebar_open: false }" @keydown.window.escape="sidebar_open = false">
{{! Banner }}
<div class="bg-indigo-600 hidden" id="banner">
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between flex-wrap">
            <div class="w-0 flex-1 flex items-center">
                <span class="flex p-2 rounded-lg bg-indigo-800">
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z" />
                    </svg>
                </span>
                <p class="ml-3 font-medium text-white truncate">
                    <span class="md:hidden">
                        {{ bnr_short_desc }}
                    </span>
                    <span class="hidden md:inline">
                        {{ bnr_long_desc }}
                    </span>
                </p>
            </div>
            <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2" onclick="hide_banner()">
                    <span class="sr-only">Dismiss</span>
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
{{! Navigation bar }}
<nav class="anim-ele anim-ele-fadein">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            {{! Exploding Chickens header }}
            <button class="flex items-center" onclick="window.location.href = '/'">
                <div class="flex-shrink-0">
                    <h1 class="h-8 text-3xl text-gray-700" style="font-family: Bebas Neue"><a class="text-yellow-400">EXPLODING</a> CHICKENS</h1>
                </div>
            </button>
            {{! Right sidebar actions }}
            <div class="block">
                <div class="ml-4 flex items-center md:ml-6">
                    <span class="relative inline-flex">
                        {{! Lobby status }}
                        <div class="text-lg font-bold truncate text-gray-700 py-2 pr-2" id="itr_ele_status">
                            <p>In Lobby</p>
                        </div>
                        {{! Slide over button }}
                        <button @click="sidebar_open = true" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white">
                            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            </svg>
                        </button>
                        {{! Status ping }}
                        <span class="flex absolute h-2 w-2 top-2 right-2 -mt-1 -mr-1" id="status_ping">
                            <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-gray-400 opacity-75"></span>
                            <span class="relative inline-flex rounded-full h-2 w-2 bg-gray-500"></span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>
{{! Game groups }}
<div class="flex justify-center h-screen anim-ele anim-ele-fadein">
    <div id="itr_ele_groups" class="my-auto">
        {{! Grid of games }}
        <div class="grid grid-cols-1 gap-x-6 gap-y-6 p-4">
            <div class="block text-center">
                <h1 class="text-gray-600 font-medium text-sm">
                    Game Room: spicy-chicken <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 mb-0.5 align-middle bg-gray-500"></span>
                </h1>
                <h1 class="text-gray-600 font-medium text-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block pb-0.5 text-blue-500 -mr-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    4/5
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block pb-0.5 ml-1 text-purple-500 -mr-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                    </svg>
                    53 Cards
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block pb-0.5 ml-1 text-red-500 -mr-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                    </svg>
                    2 EC
                </h1>
                <div class="px-2 pb-2">
                    <progress class="progress progress-info" value="30" max="100"></progress>
                </div>
                <div class="rounded-2xl bg-contain mx-1 border-dashed border-4 border-gray-400">
                    <div class="grid grid-cols-2 gap-x-2 gap-y-4 py-6 px-4">
                        <div class="block text-center w-28">
                            <h1 class="text-gray-600 font-medium text-sm">
                                Player <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 mb-0.5 align-middle bg-gray-500"></span>
                            </h1>
                            <div class="flex flex-col items-center -space-y-3">
                                <img class="h-12 w-12 rounded-full" src="/public/avatars/default.png" alt="">
                                <div class="-space-x-4 rotate-12">
                                    <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4">
                                        <h1 class="text-white text-sm">0</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block text-center w-28">
                            <h1 class="text-gray-600 font-medium text-sm">
                                Player <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 mb-0.5 align-middle bg-gray-500"></span>
                            </h1>
                            <div class="flex flex-col items-center -space-y-3">
                                <img class="h-12 w-12 rounded-full" src="/public/avatars/default.png" alt="">
                                <div class="-space-x-4 rotate-12">
                                    <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4">
                                        <h1 class="text-white text-sm">0</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block text-center w-28">
                            <h1 class="text-gray-600 font-medium text-sm">
                                Player <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 mb-0.5 align-middle bg-gray-500"></span>
                            </h1>
                            <div class="flex flex-col items-center -space-y-3">
                                <img class="h-12 w-12 rounded-full" src="/public/avatars/default.png" alt="">
                                <div class="-space-x-4 rotate-12">
                                    <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4">
                                        <h1 class="text-white text-sm">0</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block text-center w-28">
                            <h1 class="text-gray-600 font-medium text-sm">
                                Player <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 mb-0.5 align-middle bg-gray-500"></span>
                            </h1>
                            <div class="flex flex-col items-center -space-y-3">
                                <img class="h-12 w-12 rounded-full" src="/public/avatars/default.png" alt="">
                                <div class="-space-x-4 rotate-12">
                                    <div class="transform inline-block rounded-md bg-gray-500 shadow-md h-5 w-4">
                                        <h1 class="text-white text-sm">0</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-4 mb-6">
            {{! Start button }}
            <button type="button" class="inline-flex items-center px-2 py-1 border border-transparent rounded-md shadow-sm text-lg font-medium text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-600">
                <svg class="-ml-1 mr-1 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
                </svg>
                Start Game
            </button>
        </div>
    </div>
</div>
{{! Sidebar }}
<div class="fixed inset-0 overflow-hidden z-10 anim-ele anim-ele-fadein" x-show="sidebar_open">
    <div class="absolute inset-0 overflow-hidden" x-show="sidebar_open">
        <div x-show="sidebar_open" x-description="Background overlay, show/hide based on slide-over state." x-transition:enter="ease-in-out duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <section @click.away="sidebar_open = false" class="absolute inset-y-0 right-0 pl-10 max-w-full flex" aria-labelledby="slide-over-heading">
            <div class="relative w-screen max-w-md" x-description="Slide-over panel, show/hide based on slide-over state." x-show="sidebar_open" x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0" x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full">
                <div x-description="Close button, show/hide based on slide-over state." x-show="sidebar_open" x-transition:enter="ease-in-out duration-500" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in-out duration-500" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="absolute top-0 left-0 -ml-8 pt-4 pr-2 flex sm:-ml-10 sm:pr-4">
                    <button @click="sidebar_open = false" class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                        <span class="sr-only">Close panel</span>
                        <svg class="h-6 w-6" x-description="Heroicon name: x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </div>
                {{! Content }}
                <div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll">
                    {{! Game statistics }}
                    <div class="relative flex flex-col px-5">
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h2 class="text-xl font-medium text-gray-700" id="sbr_ele_usertop">
                                    Spectator <span class="animate-pulse inline-flex rounded-full h-1.5 w-1.5 mb-0.5 ml-0.5 align-middle bg-gray-500"></span>
                                </h2>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <button type="button" class="inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" onclick="window.location.href = '/'">
                                    <svg class="-ml-1 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                                    </svg>
                                    Return Home
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 relative flex flex-col mx-5">
                        <div class="flex flex-row w-full space-x-2 space-y-0 mb-2">
                            <div style="width: 40%" id="sbr_ele_status">
                                <div class="widget w-full p-2.5 rounded-lg bg-white border border-gray-100">
                                    <div class="flex flex-row items-center justify-between">
                                        <div class="flex flex-col text-left">
                                            <div class="text-xs uppercase text-gray-500 truncate">
                                                Status
                                            </div>
                                            <div class="text-lg font-bold">
                                                ...
                                            </div>
                                        </div>
                                        <svg class="stroke-current text-blue-500" height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 60%">
                                <button type="button" class="widget w-full p-2.5 rounded-lg border border-gray-100 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" onclick="sbr_copy_url()">
                                    <div class="flex flex-row items-center justify-between">
                                        <div class="flex flex-col text-left">
                                            <div class="text-xs uppercase text-gray-500 truncate">
                                                Game Code
                                            </div>
                                            <div class="text-lg font-bold" id="sidebar_game_code">
                                                {{ slug_2 }}
                                            </div>
                                        </div>
                                        <svg class="stroke-current text-purple-500" height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122" />
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="flex flex-row w-full space-x-2 space-y-0 mb-2">
                            <div style="width: 32%">
                                <div class="widget w-full p-2.5 rounded-lg bg-white border border-gray-100">
                                    <div class="flex flex-row items-center justify-between">
                                        <div class="flex flex-col">
                                            <div class="text-xs uppercase text-gray-500 truncate">
                                                Players
                                            </div>
                                            <div class="text-lg font-bold truncate" id="sbr_ele_players_ctn">
                                                ...
                                            </div>
                                        </div>
                                        <svg class="stroke-current text-pink-500" height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 32%">
                                <div class="widget w-full p-2.5 rounded-lg bg-white border border-gray-100">
                                    <div class="flex flex-row items-center justify-between">
                                        <div class="flex flex-col">
                                            <div class="text-xs uppercase text-gray-500 truncate">
                                                Rooms
                                            </div>
                                            <div class="text-lg font-bold truncate" id="sbr_ele_rooms_ctn">
                                                ...
                                            </div>
                                        </div>
                                        <svg class="stroke-current text-yellow-400" height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 32%">
                                <div class="widget w-full p-2.5 rounded-lg bg-white border border-gray-100">
                                    <div class="flex flex-row items-center justify-between">
                                        <div class="flex flex-col">
                                            <div class="text-xs uppercase text-gray-500 truncate">
                                                Games
                                            </div>
                                            <div class="text-lg font-bold truncate" id="sbr_ele_games_ctn">
                                                ...
                                            </div>
                                        </div>
                                        <svg class="stroke-current text-green-500" height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{! Sidebar options }}
                    <div class="mt-4 px-5">
                        <h2 class="text-xl font-medium text-gray-700">
                            Options
                        </h2>
                    </div>
                    <div class="mt-4 relative flex flex-col px-5">
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
                                    </svg>
                                    Grouping Method
                                </h3>
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-sm text-gray-500">
                                        How players are sorted between game rooms while in lobby
                                    </div>
                                </div>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <span class="">
                                      <div class="inline-flex items-center btn-group">
                                          <input type="radio" name="grp_method" id="grp_random" data-title="Random" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="grp_method" id="grp_wins" data-title="Win #" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                      </div>
                                </span>
                            </div>
                        </div>
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
                                    </svg>
                                    Room Size
                                </h3>
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-sm text-gray-500">
                                        Number of players per game room
                                    </div>
                                </div>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <span class="">
                                      <div class="inline-flex items-center btn-group">
                                          <input type="radio" name="grp_size" id="option1" data-title="2" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="grp_size" id="option2" data-title="3" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="grp_size" id="option3" data-title="4" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="grp_size" id="option4" data-title="5" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="grp_size" id="option5" data-title="6" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                      </div>
                                </span>
                            </div>
                        </div>
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        </svg>
                                    </svg>
                                    Auto Play Timeout
                                </h3>
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-sm text-gray-500">
                                        How long to wait before forcing a player to draw in game
                                    </div>
                                </div>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <span class="">
                                      <div class="inline-flex items-center btn-group">
                                          <input type="radio" name="play_timeout" id="option1" data-title="∞" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="play_timeout" id="option2" data-title="30s" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="play_timeout" id="option3" data-title="1m" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                          <input type="radio" name="play_timeout" id="option4" data-title="2m" disabled="disabled" class="btn btn-sm btn-outline no-animation">
                                      </div>
                                </span>
                            </div>
                        </div>
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6" />
                                    </svg>
                                    Remove Host from Games
                                </h3>
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-sm text-gray-500">
                                        Determines if the host will be included in games
                                    </div>
                                </div>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <span class="">
                                    <input type="checkbox" disabled="disabled" class="inline-flex items-center mt-2 toggle toggle-md toggle-accent">
                                </span>
                            </div>
                        </div>
                    </div>
                    {{! Sidebar card packs }}
                    <div class="mt-4 px-5">
                        <h2 class="text-xl font-medium text-gray-700">
                            Card Packs
                        </h2>
                    </div>
                    <div class="mt-4 relative flex flex-col px-5">
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                                    </svg>
                                    Base Deck
                                </h3>
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-sm text-gray-500">
                                        53 cards, 9 actions
                                    </div>
                                </div>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <span class="">
                                      <button type="button" class="inline-flex items-center px-2 py-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-500 hover:bg-green-600 focus:outline-none">
                                            <svg class="-ml-1 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                            </svg>
                                            Imported
                                      </button>
                                </span>
                            </div>
                        </div>
                        {{! Yolking around }}
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
                                    </svg>
                                    Yolking Around
                                </h3>
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-sm text-gray-500">
                                        18 cards, 7 actions
                                    </div>
                                </div>
                            </div>
                            <div class="flex mt-0 ml-4">
                                <span class="" id="pack_yolking_around">
                                      <button type="button" class="inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-1 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                                            </svg>
                                            Available
                                      </button>
                                </span>
                            </div>
                        </div>
                        {{! Link to card desc }}
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <div class="mt-1 flex flex-col sm:flex-row sm:flex-wrap sm:mt-0 sm:space-x-6">
                                    <div class="flex items-center text-xs text-gray-400">
                                        <p>Confused on how to use a card? Refer to the <a class="text-blue-600" target="_blank" href="/#base-pack">card descriptions</a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{! Sidebar players }}
                    <div class="mt-4 px-5">
                        <h2 class="text-xl font-medium text-gray-700">
                            Players
                        </h2>
                    </div>
                    <div class="mt-4 relative flex flex-col px-5" id="sbr_ele_players">
                        <div class="flex items-center justify-between mb-2">
                            <div class="flex-1 min-w-0">
                                <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                    <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                                    </svg>
                                    Waiting for players to join...
                                </h3>
                            </div>
                        </div>
                    </div>
                    {{! Event log }}
                    <div class="mt-4 px-5">
                        <h2 class="text-xl font-medium text-gray-700">
                            Event Log
                        </h2>
                    </div>
                    <div class="mt-4 mb-14 relative flex flex-col px-5">
                        <div class="flex items-center justify-between mb-2">
                            <div class="text-base leading-6 space-y-4 text-gray-500 w-full">
                                <ul class="list-disc space-y-2" id="sbr_game_log">
                                    <li class="flex items-start">
                                        <h3 class="inline-flex text-md font-bold text-gray-900 truncate">
                                            <svg class="mr-1 mt-1 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                                            </svg>
                                            Waiting for events to occur...
                                        </h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 px-5 absolute bottom-0 w-full bg-white border-t-2 border-gray-100">
                        <h2 class="text-xl font-medium text-gray-700 float-left">
                            <button type="button" onclick="window.open('https://github.com/rak3rman/exploding-chickens', '_blank')" class="inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                                <svg class="-ml-1 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                                </svg>
                                Release v{{ version }}
                            </button>
                        </h2>
                        <h2 class="text-xl font-medium text-gray-700 float-right">
                            <button data-tf-popup="qWPf6y4Z" data-tf-size="70" type="button" class="inline-flex items-center px-2 py-1 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                                <svg class="-ml-1 mr-1 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                </svg>
                                Feedback
                            </button>
                        </h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{{! JS scripts }}
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.2.2/cdn.js" defer></script>
<script src="//embed.typeform.com/next/embed.js"></script>
<script src="/public/js/lscache.js"></script>
<script src="/public/js/moment.js"></script>
<script src="/public/js/lobby/events.js"></script>
<script src="/public/js/lobby/setup.js"></script>
<script src="/public/js/lobby/sidebar.js"></script>
<script src="/public/js/lobby/interface.js"></script>
<script src="/public/js/banner.js"></script>
<script>check_banner('{{ bnr_tag }}')</script>
</body>
</html>